/* importing fonts */
@font-face {
  font-family: 'avenirLight';
  src: local('Avenir'), url(./fonts/Avenir-Light.ttf) format('truetype');
  font-weight: lighter;
}
@font-face {
  font-family: 'avenirRoman';
  src: local('Avenir'), url(./fonts/Avenir-Roman.ttf) format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'avenirHeavy';
  src: local('Avenir'), url(./fonts/Avenir-Heavy.ttf) format('truetype');
  font-weight: bold;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

.new {
  font: 'Avenir';
  font-size: 48px;
  font-weight: lighter;
}

